<h3>Welcome To User Profile of <%= @user.email %> </h3>
<p>Email : <%= @user.email%></p>
<p id="profile_image"><%= image_tag @user.profile_pic.url(:medium) %></p>

<%if (current_user== @user && !current_user.profile_pic.blank?)%>
<button id="profilePic"><%= link_to "Delete Profile Pic", delete_profile_pic_path(@user.id) , remote:true, method: :post %></button>
<%end%>


	
