/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_emoji_picker
 *= require_self
 *= require rails_bootstrap_forms
 */

 @import 'rails_emoji_picker';

 

.chat-application{
            padding:5px;
            display: none;
            position: fixed;
            background-color: white;
            z-index: 1000;
            bottom: 10px;
            right: 10px;


        .chat-with{
        margin-bottom: -2px;
            float: left;
          padding-left: 10px;
          margin-top: 6px;
          font-weight: bold;
        font-size: 13px;
        display:block;
        }
        .chat-num-messages{
            float: left;
          padding-left: 10px;
          margin-top: 6px;
          color: #92959E;
          margin-bottom:0px;

        }
        .chat-messages{
                width: 100%;
                height: 228px !important;
            overflow: auto;
            height: 30%;
            background-color: rgba(0, 255, 205, 0.19)

           
        }
        .chat-messages ul{

                list-style: none;
                padding: 5px;
                margin-top: 0px;
                li{
                    width: 65%;
                    font-size:12px;
    
                }
            
        }
        .sender-name{
            margin-bottom: 10px;
        }

        #chat-form{
            height: 19%;
            background-color: rgba(184, 255, 0, 0.51);
            padding: 18px;

            
             textarea {
             height:47px;
             width: 100%;
              border: none;
              padding: 10px 20px;
              font: 14px/22px "Lato", Arial, sans-serif;
              margin-bottom: 10px;
              border-radius: 5px;
              resize: none;
              
            }
            #message-submit {
              color:#0051ff;
              background-color: #0051ff;
              font-size:13px;
              float: right;
              font-size: 16px;
              text-transform: uppercase;
              border: none;
              cursor: pointer;
              font-weight: bold;
              background: #F2F5F8;
              
              &:hover {
                color: darken(#94C2ED, 7%);
              }
            }

            
        }

        
      .chat-messages{
        padding: 10px 10px 10px;
        border-bottom: 2px solid white;
        overflow-y: scroll;
        
      }
       


        .other-message{

         color: white;
      padding: 5px 5px;
      line-height: 26px;
      font-size: 13px;
      border-radius: 7px;
      margin-bottom: 10px;
      width: 90%;
      position: relative;
      float:left;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86BB71;
        border-width: 10px;
        margin-left: -10px;
      }
      p{
        float:left;
      }



            background: #94C2ED;
        }
        .self-message{

         color: white;
      padding: 5px 5px;
      line-height: 26px;
      font-size: 13px;
      border-radius: 7px;
      margin-bottom: 10px;
      width: 90%;
      position: relative;
      float:right;
      
      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #86BB71;
        border-width: 10px;
        margin-left: -10px;
      }
      p{
        float:right;
      }

            background: #86BB71;
        }
}
 

.chat-application{
   height: 400px;
    width: 280px;
  float:left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  color: #434651;

  img{
    height: 50px;
    width:50px;
    float: left;
  }
}

#profile-page{
    width:70%;
    margin:auto;
    margin-left:28%;
    #profile_image img{
        width: 200px;
        height: 200px;
    border-radius: 75px;
    position: absolute;
    top: 120px;
    left: 20px;
    }
}

#private-posts{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top:13%;
    h3{
        text-align:center;
    }
}

.email-style{
  display: flex !important;
    justify-content: space-around;
	color: #5b5bfa;

    font-weight: bold;
    font-family: sans-serif;
    margin:0;

    img{
      height: 50px;
      width:50px;
      border-radius: 20px;
    }
    #friend-name{
      margin-bottom: 0px;
    }

}

 h3{
 	font-family: sans-serif;
 }

 .small-pp img{
 	height:50px;
 	width:50px;
 	border-radius: 30px;
 	margin-top: -10px;
 }
 #my-profile-pic{
 	height: 200px;
  width: 220px;
 }

#all-users{
	width: 70%;
    margin: auto;
}
#all-friend-div{
	display:block;
	p{
		margin:0;
	}
}
 main{
 	display: flex !important;
    justify-content: space-around;
    margin-top:30px;
 }
 .del{
 	height: 24px;
 }
 .Users-button{
 	display: block;
    margin: 10px auto;
    border: none;
    color: white;
    background-color: #5b5bfa;
    display: inline-block;
    a{
    	color: white;
	    text-decoration: none;
	    font-weight: bold;
	    font-size: 20px;
    }
 }
 .small{
 	margin:0;
 	a{

    	font-size: 9px;
    
 	}
 }
 .ubut{
 	display:block;
 }


 body{
 	padding: 0;
 	margin: 0;
 }

 #body-header{
  margin-bottom:30px;
 	padding: 0 15px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	background-color: #5b5bfa;
    
    main{
    	margin-top: 30px;
    }

    nav{
      width: 100%;
    }
    img{
      border-radius: 27px;
      width:70px;
      height:70px;
    }

 	#page-logo{
 		width: 75px;

 		img{
 			width: 100%;
 			height: 50px;
    		width: 50px;
   			padding-top: 3px;
 		}
 	}


 	#auth-links{

 		ul{
 			list-style: none;
 			display: flex;
 			flex-direction: row;
 			justify-content: flex-end;
 			margin-top: 0px;

 			li{
 				margin-left: 8px;
 				p{
 					margin-left: 5px;
				    margin-right: 5px;
				    font-weight: bold;
				    color: white;
				    font-family: sans-serif;
				    a{
				    	margin-left: 5px;
				    margin-right: 5px;
				    font-weight: bold;
				    color: white;
				    font-family: sans-serif;
				    }
 				}
 				input{
 					margin-top: 10px;
				    height: 25px;
				    width: 300px;
				    padding-left: 5px;
 				}

 				a{
 					text-decoration: none;
 					color: black;
 				}
 			}
 		}
 	}

 }

@media(max-width:670px)
{
 .Users-button a{
    font-size:10px;
  }
  .email-style img{
    height:50px;
    width:50px;
  }
  #body-header img{
    height:60px;
    width:60px;
  }
  .email-style #friend-name{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .list-group-item-primary button{
    margin-left: -7px;
    margin-bottom: 3px;
  }
  #profile-page #profile_image img{
    position: static;
  }
  #profile-page{
    margin:auto;
    h3{
      font-size:20px;
    }
    #profilePic{
      margin-left:20px;
    }
  }
}
