// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#upload-btn{
	color: white;
	margin-top: -45px;
} 

#images_{
	display:none;
}
#trending-news{
	width:20%;
	margin-left:10px;
}

.post-name{
	font-weight: bold;
    font-family: sans-serif;
}
.post-time{
	font-size: 13px;
    color: #2b2a2a;
}
.post-content-main{
	overflow: auto;
	font-size: 16px;
    background-color: #e1f1ff;
}
#users-display{
	display: flex;
    justify-content: space-evenly;
}

#new-post-form-container{
	margin: 0px;
	
    width: 100%;
    
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #e8f2ff;

    label{
    	display: block;
    	font-family: sans-serif;
    	font-weight: bold;
    }
    input[type='file']{
    	color: transparent;
    	
    }

    textarea, input[type="submit"]{
        border-radius: 5px;
    	display: block;
    	margin: 0 auto;

    }

    textarea{
        display: inline-block;
    	margin: 0px;
    	width: 75%;
    	
    	border-radius: 20px;
    	padding-left: 10px;
    }

    input[type="submit"]{
	    margin: 10px auto;
	    border: none;
	    color: white;
	    background-color: #5b5bfa;
    }
}

#posts-list-container{

	width: 100%;
	margin: 0 auto;
	ul{
		padding-left: 0px;
	}
	
	#posts-list{
		
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.post{
			transition: all .2s ease-in-out; 
			border-bottom: 1px solid grey;
			
			margin-bottom:40px;
			border-radius: 20px;
			.post-content{
				display: flex;
				justify-content: space-between;
				font-size: 0.9rem;
				padding: 14px;
			    background-color: #dffff7;
			    border-radius: 40px;

				.text{
					width: 95%;
					#images{
						width: 100%;
					    max-height: 280px;
					    overflow: auto;
						display: flex;
					    flex-wrap: wrap;
					    justify-content: space-around;
					}

				    img{
				    	margin-bottom: 10px;
				    }
				}

				.post-destroy-link{
					margin: 0;
				}
				.post-destroy-link a{
					text-decoration: none;
					color: red;
				}
			}

			.post-comments-container{
				width: 80%;
			    margin: 10px auto;
			    
			     input[type="submit"]{
			     	margin: 10px auto;
				    border: none;
				    width: 50px;
				    color: white;
				    background-color: #5b5bfa;
			     }

			    form{
			    	display: flex;

			    	input, textarea{
			    		width: 100%;
    					border-radius: 20px;
    					padding: 5px;
		    		}
			    }

			    .comments-list{
			    	display:none;
			    	list-style: none;
			    	padding-top: 10px;
			    	padding-left: 0;
		    	    background-color: rgba(255, 160, 122, 0.35);
    				padding: 5px;
    				background-color: #c2d4f3;
    				border-radius: 20px;
			    	li{

			    		margin: 3px;
			    		margin-bottom: 20px;
    					padding: 3px;
    					display: flex;
    					justify-content: space-between;
			    		p{
			    			margin: 0;
			    			margin-bottom: 10px;
			    		}

			    		a{

			    			text-decoration: none;
			    			font-size: 10px;
			    		}
			    	}

			    }
			}

		}
		


	}
}



.author-details{
	font-size: 10px;
}

#comment-li-div{
	width:100%;
}

.comment-name{
	font-size:10px;
}
.comment-content-main{
	overflow: auto;
	font-size:14px;
}

#All-friends{
	display:block;
	width:20%;
}
#post-div{
	width:45%;
}

#friends-list-button{
	display:none;
}

#posts-list-container #posts-list .post .post-content .text img{
		width:50px;
		height:50px;
	}

#posts-list-container #posts-list .post .post-content .text #images{
		img{
			width: 90%;
    		height: 100%;
		}
	}


@media(max-width:670px)
{
	#trending-news{
		display:none;
		width:0%;
	}
	#post-div{
		width:80%;
	}
	#new-post-form-container textarea{
		display:block;
		width:100%;
	}
	#upload-btn{
		margin-top:3px;
	}
	*{
		font-size:10px;
	}
	#posts-list-container #posts-list .post .post-content .text{
		width:80%;
	}
	.post-content-main{
		font-size:13px;
	}
	#posts-list-container #posts-list .post .post-comments-container .comments-list li div{
		width:100%;
	}
	#posts-list-container #posts-list .post .post-content .text img{
		width:35px;
		height:35px;
	}
	.comment-name{
		font-size:7px;
	}
	.post-time{
		font-size:8px;
	}
	.Users-button a{
		font-size:11px;
	}
	.email-style img{
		height:35px;
	}
	#posts-list-container #posts-list .post .post-content .text #images{
		img{
			width: 90%;
    		height: 100%;
		}
	}
	#friends-list-button{
		display:block;
	}
	#All-friends{
		display:none;
	}

}




